@using PharmacyMvcClient.Models;
@model Staff
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<html>
<head>
    <title></title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-2">
        <form asp-action="Add" asp-controller="Staff" method="post">
            <div class="form-group">
                <label>Staff Name:</label>
                <input type="text" name="StaffName" class="form-control" />
            </div>
            <div class="form-group">
                <label>Staff Age:</label>
                <input type="text" name="StaffAge" class="form-control" />
            </div>
            <div class="form-group">
                <label>Staff Phone :</label>
                <input type="text" name="StaffPhone" class="form-control" />
            </div>
            <div class="form-group">
                <label>Staff Adress :</label>
                <input type="text" name="StaffAdress" class="form-control" />
            </div>
            <div class="form-group">
                <label>Staff Salary :</label>
                <input type="text" name="StaffSalary" class="form-control" />
            </div>
            <div class="form-group">
                <label>Branch ID :</label>
                <input type="text" name="BranchID" class="form-control" />
            </div>
            <div class="form-group">

                <button type="submit" class="btn-primary">Save</button>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
        </form>
    </div>
</body>
</html>
